* {all:unset;}

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'Symbols Nerd Font', 'Maple Mono NF', monospace;
  font-size: 20px;
  min-height: 0;
}

.modules-left {
  margin: 2px 0 0 5px;
}

.modules-right {
  margin: 2px 10px 0 0;
}

.modules-left.ayaya {
}

window#waybar.ayaya {
  /* background-color: #1e2030; */
  background-color: transparent;
  /* border: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  border-style: solid;
  border-color: #c6a0f6;
  border-radius: 0px;
}

window#waybar.bot {
  /* background-color: #1e2030; */
  background-color: transparent;
  /* border: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  border-style: solid;
  border-color: #c6a0f6;
  border-radius: 10px 10px 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#workspaces button {
  background-color: #1a1111;
  padding: 0 5px;
  margin: 0px;
  color: #f5bde6;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #8aadf4;
}

#workspaces button.visible {
  background-color: #64727d;
  /* background-color: #2d3436; */
  box-shadow: inset 0 -3px #ed8796;
}

#workspaces button.active,
button.focused {
  background-color: #6e738d;
  /* background-color: #2d3436; */
  box-shadow: inset 0 -3px #ed8796;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  background-color: #1a1111;
  border-color: #1a1111;
  padding: 0 10px;
  color: #ffffff;
  border: 1px;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  color: #ffffff;
  box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  /* background-color: #f5bde6; */
  /* color: #f5bde6; */
  /* box-shadow: inset 0 -3px #f5bde6; */
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#battery {
  /* background-color: transparent; */
  color: #a6da95;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#battery.charging,
#battery.plugged {
  color: #a6da95;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  /* background-color: transparent; */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  /* background-color: #f53c3c; */
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

label:focus {
  background-color: #000000;
}

#cpu {
  /* background-color: transparent; */
  color: #c6a0f6;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#memory {
  /* background-color: transparent; */
  color: #8aadf4;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#disk {
  /* background-color: #964b00; */
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  /* background-color: transparent; */
  color: #f4dbd6;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#network {
  /* background-color: transparent; */
  color: #7dc4e4;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#network.disconnected {
  /* background-color: #f53c3c; */
}

#pulseaudio,
#wireplumber {
  /* background-color: transparent; */
  color: #8bd5ca;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#pulseaudio.muted,
#wireplumber.muted {
  /* background-color: transparent; */
  color: #8bd5ca;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#temperature {
  /* background-color: transparent; */
  color: #f5a97f;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#temperature.critical {
  background-color: #eb4d4b;
  color: #ffffff;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#tray {
  background-color: transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#mpd {
  /* background-color: transparent; */
  color: #ee99a0;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

#taskbar {
  color: #000000;
}
