#!/usr/bin/env bash
watch_file shell.nix flake.nix

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  echo 'while direnv evaluated .envrc, could not find the command "lorri" [https://github.com/nix-community/lorri]'
  use flake || use nix
fi

PATH_add ./scripts
